/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
    max-width: 280px;
}*/


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

@font-face {
    font-family: gearsOfPeace;
    src: url(../fonts/GearsOfPeace.ttf);
}

.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*.btn-default:hover, .btn-default, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    border-color: #FF9100;
}

.btn {
    border-radius: 3px;
}

.form-control:focus {
    border:solid 1px #FF9100 !important;
 }

.btn-default:hover{
    background-color:rgba(255,145,0,0.8) !important;
}*/

.link:hover {
    color: rgba(255,145,0,0.8) !important;
    text-decoration: underline !important;
}

.div_ratio {
    display: block;
    float: left;
    width: 33%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 34.37% 0 0 0;
}

.material-icons.md-48 {
    font-size: 48px;
}

.top-spacing-form {
    margin-top: 5%;
}

.top-spacing-div {
    margin-top: 20%;
}

/* label color */
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input[type=email]:focus + label, .input-field input[type=password]:focus + label {
    color: orange;
}
/* label underline focus color */
.input-field input[type=email]:focus, .input-field input[type=password]:focus {
    border-bottom: 1px solid orange;
    box-shadow: 0 1px 0 0 orange;
}
/* valid color */
.input-field input[type=email].valid, .input-field input[type=password].valid {
    color: black;
    border-bottom: 1px solid green;
    box-shadow: 0 1px 0 0 green;
}
/* invalid color */
.input-field input[type=email].invalid, .input-field input[type=password].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
    color: #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
     color: orange;
}